{{extend 'layout.html'}}
<section class="content-header">
    <h1>Employee Self-Service<small>Grid</small></h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3> 
                    <a href="{{=URL('leave_mngt','post_application_leave')}}" type="button" class="btn btn-primary btn-flat pull-right">Place New Application</a>            
                </div>
                <div class="box-body">
                    {{=grid_department}}
                </div>        
                <!-- <div class="box-footer clearfix">
                    
                </div>                              -->
            </div> 
        </div>        
    </div>
</section>

<script>
// $(document).ready(function(){
//     $('.table').bootstrapTable({});

// });
</script>