{{extend 'layout.html'}}

<section class="content-header">
    <h1>Employee Self-Service<small>Grid</small></h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Master Reports</h3>
                </div>
                <div class="box-body">            
                    {{=table}}                    
                </div>
            </div>            
        </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function(){
    $("#btnPrint").click(function(){
        console.log('Print');
        alertify.success('Print');
        window.open("{{=URL('leave_mngt_reports','get_pending_leave_application_report', args = 2)}}")
    });

    $(".table").DataTable({
        dom: 'Bfrtip',

        buttons: [       
            {
                extend: 'colvis',
                postfixButtons: [ 'colvisRestore' ],
                className:'btn btn-default btn-flat',
                text: '<i class="fa fa-columns"></i> Columns'
            },  
                           
            {
                extend: 'excelHtml5',
                className: 'btn btn-default btn-flat',
                text: '<i class="fa fa-table"></i> Excel',
                title: 'Employee Master Reports',
                titleAttr: 'Export in Spreadsheet'
            },
            {
                extend: 'print',
                className: 'btn btn-default btn-flat',
                text: '<i class="fa fa-print"></i> Print',
                title: 'Employee Master Application',
                titleAttr: 'Print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '9pt' ) 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                }                
            },                   
        ],
        columnDefs: [
            {
                targets: [6,7,8,9,10,11,12,13,14,15,16],
                visible: false
            }
        ]        
    });
});
</script>