{{extend 'layout.html'}}
<section class="content-header">
    <h1>Payroll Management<small>Update</small></h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">           
                    <h3 class="box-title">Overtime Status</h3>
                </div>        
            <div class="box-body">                    
                {{=form.custom.begin}}
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-4">{{=form.custom.widget.status}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-4">{{=form.custom.widget.description}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">{{=form.custom.submit}}</div>
                    </div>
                </div>
                {{=form.custom.end}}
                
            </div>
            </div>
        </div>
    </div>
</section>

