{{extend 'layout.html'}}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Rejected Leave Reports <small>Grid</small></h3>       
                    <div class="pull-right"><a href="#" id="btnRefresh" class="text-muted"><i class="fa fa-refresh"></i></a></div>              
                </div>
                <div class="box-body">
                    {{=table}}
                </div>        
            </div> 
        </div>        
    </div>
</section>


    
<script>       

    $(document).ready(function(){
        var _today = $("#date_returned").val();
        console.log(_today);
        $("#date_returned").val("{{=request.now}}");
        $(".table").DataTable({
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                className: 'btn btn-default btn-flat',
                text: '<i class="fa fa-table"></i> Excel',
                title: 'Rejected Leave Reports',
                titleAttr: 'Export in Spreadsheet'
            },
            {
                extend: 'pdf',
                className: 'btn btn-default btn-flat',
                text: '<i class="fa fa-file-pdf-o"></i> Pdf',
                title: 'Rejected Leave Reports',
                titleAttr: 'Print',
                exportOptions: {
                columns: [0, 1, 2, 3, 4, 5] 
                }                
            },            
            {
                extend: 'print',
                className: 'btn btn-default btn-flat',
                text: '<i class="fa fa-print"></i> Print',
                title: 'Rejected Leave Reports',
                titleAttr: 'Print',
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '9pt' ) 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' );
                }                
            },                   
        ]
        });
    });
    
</script>
