{{extend 'layout.html'}}
<section class="content-header">
    <h1>Employee Self-Service<small>Grid</small></h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3> 
                    <div class="pull-right"><a href="#" id="btnRefresh" class="text-muted"><i class="fa fa-refresh"></i></a></div>
                </div>
                <div class="box-body">
                    {{=table}} 
                </div>        
                <div class="box-footer clearfix">
                    <a href="{{=URL('leave_mngt','post_application_leave')}}" type="button" class="btn btn-primary btn-flat pull-right">Place New Application</a>            
                </div>                          
            </div> 
        </div>        
    </div>
</section>

<script>
$(document).ready(function(){
    $(".table").DataTable();
    // console.log(sessionStorage.getItem("lastname"));
    // approved()
    $("#btnRefresh").click(function(){
        console.log("refresh");
        // window.location.reload();
    });
    $(".btnConfirm").click(function(){
        console.log("print");
        // window.location.reload();
        // alertify.confirm('Confirm Title', 'Confirm Message', function(){ alertify.success('Ok') }, function(){ alertify.error('Cancel')});
    });
    $("#Confirm").click(function(){
        console.log("Confirm");
    });

});
    function Confirm(x){
        // console.log('confirm', x)
        alertify.confirm('Leave Application', 'Leave Confirmation', 
            function(){ 
                ajax('{{=URL('leave_mngt','put_application_hr_confirmed_id')}}' + '/' + x )
                window.location.reload();
            }, 
            function(){ alertify.error('Cancel')});
        // window.location.reload();
        // alertify.success('Confirmed');

    }

    function reload(){
        
    }
    function approved(){
        alertify.success(sessionStorage.getItem("lastname"));
    }
</script>