{{extend 'layout.html'}}
<section class="content-header">
    <h1>Employee Self-Service<small>Grid</small></h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border"><h3 class="box-title">Leave Status Table</h3></div>
                <div class="box-body">{{=table}}</div>
                <div class="box-footer clearfix">
                    <a href="{{=URL('leave_mngt','post_leave_status')}}" type="button" class="btn btn-primary btn-flat pull-right">Place New Status</a>            
                </div>                
            </div>        
        </div>
    </div>
</section>
