{{extend 'layout.html'}}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">My Workflow Report</h3>
                </div>
                <div class="box-body">                                     
                    {{=table}}
                    
                </div>
            </div>            
        </div>
    </div>
</section>

<script>
$(document).ready(function(){
    $(".table").DataTable();
});
</script>
